out
__pycache__
credentials.json
*.pem
*.crt
*.key

meta-my-iotc-python-sdk-example/recipes-apps/iotc-telemetry-demo/files/iotconnect
.vscode
meta-my-iotc-python-sdk-example/recipes-apps/iotc-telemetry-demo/files/certs/device.key
meta-my-iotc-python-sdk-example/recipes-apps/iotc-telemetry-demo/files/certs/DeviceCertificate.pem
